.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 1.2rem;
  width: 640px;
  line-height: 42px;
  font-weight: 400;
  color: #4d4d4d;
  text-align: right;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

@media screen and (max-width: 832px) {
  .title {
    width: 100%;
    padding: 20px 10vw;
  }
}
