.bg {
  background: #ccc;
}

.title {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.1rem;
  font-weight: 400;
  color: #2b2b2b;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 11px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 300;
  font-family: Arial;
}

.footer .footerMenu {
  margin: 5px 12px;
}
.footer .footerSound {
  margin: 5px 12px;
}

.home a {
  font-weight: 900;
  padding: 10px;
  margin-right: 10px;
  font-size: 13px;
  text-decoration: underline;
}

.home a:hover {
  opacity: 0.8;
  text-decoration: none;
}


.skillsView{
  margin:0;
  padding:0;
  width: 500px;
  height: 500px;
  position: absolute;
  display:none;
  z-index: 3;
}

.closeButton{
  position: absolute;
  top:-7px;
  left:455px;
  cursor: pointer;
}

.closeButtonSmall{
  position: absolute;
  top:8px;
  left:470px;
  z-index: 100;
  cursor: pointer;
}
.skillsView a{
  z-index: 100;
  color:inherit;
  text-decoration:none;
}
.detailHeader{
  position: absolute;
  cursor: default;
  pointer-events: none;
  user-select: none;
  top:20px;
  width:500px;
  text-align: center;
  color:#FFFFFF;
  font-size: 50px;
  text-shadow: rgba(0,0,0, 0.4) 0em 0em 0.3em;
  font-family:'Conv_Curse Casual',Sans-Serif;
}

.detailDescription{
  position:absolute;
  pointer-events:none;
  cursor:default;
  user-select: none;
  top:80px;
  left:20px;
  width:460px;
  text-align: center;
  color:#FFFFFF;
  font-size: 18px;
  text-shadow: rgba(0,0,0, 0.4) 0em 0em 0.3em;
  font-family:Calibri, Arial, Helvetica, sans-serif;
}

.detailName{
  position:absolute;
  cursor:default;
  top:455px;
  width:500px;
  text-align: center;
  color:#000000;
  font-size: 15.3px;
  user-select: none;
  font-family:Calibri, Arial, Helvetica, sans-serif;
}
