.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p,
.footer a {
  font-size: 0.8rem;
  font-weight: 400;
}

.ccLink {
  margin-right: 4px;
}

.license {
  display: flex;
  align-items: center;
}

.gitLink img {
  vertical-align: middle;
  margin: 0 8px;
}
