.main {
  min-height: 100vh;
  padding: 0 1vw;
  max-width: 900px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  color: #27ae60;
}

.homeLink {
  padding: 10px 0;
}

.milestone {
  display: flex;
  margin: 15px 0;
}

.milestone .text {
  margin: -10px 15px 0 0;
}

.milestone .text a span {
  vertical-align: middle;
  margin-right: 10px;
}

.milestone h2 {
  white-space: nowrap;
  line-height: 30pt;
  margin-right: 20px;
  width: 220px;
}

.commonTitle {
  color: #878787;
}

.flowImage {
  background: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
}

.homeIcon {
  vertical-align: middle;
  margin-right: 5px;
}

.month {
  font-size: 10pt;
}

.to-date {
  font-size: 80%;
}

.iconLink img {
  vertical-align: middle;
  margin-right: 8px;
}

@media screen and (max-width: 900px) {
  .milestone {
    flex-direction: column;
  }
}
