
.nav {
  position: relative;
  width: 640px;
  height: 300px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

.main {
  position: relative;
  height: 325px;
  width: 330px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.nav svg path {
  transition: all 0.3s ease-in-out;
}

.nav svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.logo_word {
  position: absolute;
  width: 320px;
  height: 138px;
  right: 0;
  bottom: 0;
  top: auto;
  left: auto;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.w1,
.w2,
.w3 {
  position: absolute;
  display: block;
  bottom: 0;
}

.logo_word a {
  display: block;
  width: 100%;
  height: 100%;
}

.w1 {
  width: 85px;
  height: 135px;
  right: 235px;
}

.w2 {
  width: 109px;
  height: 135px;
  right: 114px;
}

.w3 {
  width: 108px;
  height: 135px;
  right: 0;
}

.logo_word svg path {
  fill: #2b2b2b;
}

.logo_word svg path.active_path_1 {
  fill: #e74c3c;
}

.logo_word svg path.active_path_2 {
  fill: #27ae60;
}

.logo_word svg path.active_path_3 {
  fill: #2980b9;
}

.el1 {
  transform: translate(38px, 45px);
  fill: #2b2b2b;
}

.el2 {
  transform: translate(37px, 37px);
  fill: #2b2b2b;
}

.el3 {
  transform: translate(39px, 40px);
  fill: #2b2b2b;
}

.moveElement1 {
  transform: translate(0, 0);
  fill: #2b2b2b;
}

.moveElement2 {
  transform: translate(64px, 6px);
  fill: #2b2b2b;
}

.moveElement3 {
  transform: translate(26px, 65px);
  fill: #2b2b2b;
}

.main .el4 {
  transform: translate(35px, 37px);
  fill: #2b2b2b;
}

.logo_bottom_text,
.logo_right_text,
.logo_top_text {
  position: absolute;
  font: 700 23pt/23pt 'PT Sans', sans-serif;
  text-transform: uppercase;
  width: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.logo_top_text {
  color: #e74c3c;
  text-align: right;
  top: 4%;
  right: 93%;
  transform-origin: 100% 50%;
  width: 210px;
  opacity: 0;
}

.logo_top_text_active {
  opacity: 1;
  transform: rotate(44deg);
}

.logo_right_text {
  color: #27ae60;
  top: 9%;
  left: 96%;
  width: 200px;
  transform-origin: 0 50%;
  opacity: 0;
}

.logo_right_text_active {
  opacity: 1;
  transform: rotate(-39deg);
}

.logo_bottom_text {
  color: #2980b9;
  bottom: -10%;
  left: -24%;
  width: 200px;
  transform-origin: 100% 50%;
  text-align: right;
  opacity: 0;
}

.logo_bottom_text_active {
  opacity: 1;
  transform: rotate(-69deg);
}

.mobileNav{
  font-size: 10pt;
  border-bottom: 2px solid #333;
  text-align: center;
  display: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
}

.mobileNavActive1 {
  color: #e74c3c;
  border-bottom: 2px solid #e74c3c;
}

.mobileNavActive2 {
  color: #27ae60;
  border-bottom: 2px solid #27ae60;
}

.mobileNavActive3 {
  color: #2980b9;
  border-bottom: 2px solid #2980b9;
}

@media screen and (max-width: 832px) {
  .main {
    display: none;
  }

  .nav {
    width: 320px;
    height: 138px;
  }

  .mobileNav {
    display: block;
  }
}
